#main{
    display: flex;
  
}
button{
    font-size: 15px;
    width: 150px;
    height: 40px;
    background-color: lightseagreen;
}
form{
    background-color: white;
    padding: 10px;
}
body{
    margin: 200px;
    margin-left: 30%;
    background-color: mediumpurple;
}

#\ images{
 background-image: url("images/lap1.jpeg")
;color: white;
}